body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  font-weight: 300;
  font-size: 20px;
  padding: 3em 1em;
  background: #eee;
}

h1 {
  font-size: 1em;
  margin: 0 0 2em;
  font-weight: normal;
  text-align: center;
}

section {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

section * {
  cursor: default;
}

section > div {
  position: relative;
  background: #fff;
  padding: .5em .75em;
  overflow: hidden;
  white-space: nowrap;
}

section > div:not(:last-child) {
  margin-bottom: 1em;
}

section > div > div::before {
  display: block;
  content: attr(data-url);
  margin-bottom: .3em;
  max-width: 100%;
  padding-right: .25em; /* Workaround apparent webkit bug with text-overflow ellipsis cropping the ... */
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: .3;
  transition: opacity .2s ease;
}

section > div:hover > div::before {
  opacity: .7;
}
